In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("/content/HRDataset_v14.csv")
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,"Adinolfi, Wilson K",10026.0,0.0,0.0,Female,1.0,5.0,4.0,0.0,62506.0,...,3,80,0,8,0,1,6,4,0,5
1,"Ait Sidi, Karthikeyan",10084.0,1.0,1.0,Male,5.0,3.0,3.0,0.0,104437.0,...,4,80,1,10,3,3,10,7,1,7
2,"Akinkuolie, Sarah",10196.0,1.0,1.0,Male,5.0,5.0,3.0,0.0,64955.0,...,3,80,0,7,3,3,0,0,0,0
3,"Alagbe,Trina",10088.0,1.0,1.0,Female,1.0,5.0,3.0,0.0,64991.0,...,3,80,0,8,3,3,8,7,3,0
4,"Anderson, Carol",10069.0,0.0,2.0,Male,5.0,5.0,3.0,0.0,50825.0,...,3,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,"Ybarra, Catherine",10301.0,0.0,0.0,Female,5.0,5.0,1.0,0.0,48513.0,...,3,80,1,19,2,3,10,8,0,1
308,"Zamora, Jennifer",10010.0,0.0,0.0,Male,1.0,3.0,4.0,0.0,220450.0,...,3,80,1,12,2,3,5,3,1,2
309,"Zhou, Julia",10043.0,0.0,0.0,Male,1.0,3.0,3.0,0.0,89292.0,...,3,80,1,6,4,3,5,2,0,3
310,"Zima, Colleen",10271.0,0.0,4.0,Male,1.0,5.0,3.0,0.0,45046.0,...,3,80,0,9,1,3,2,2,1,0
311,NaN,NaN,NaN,NaN,Male,NaN,NaN,NaN,NaN,NaN,...,3,80,1,24,2,3,24,9,9,11

Warning: Total number of columns (56) exceeds max_columns (20) limiting to first (20) columns.

In [9]:
(df.loc[df["Position"]=="Production Technician I"]).count()

Employee_Name                 137
EmpID                         137
MarriedID                     137
MaritalStatusID               137
Gender                        137
EmpStatusID                   137
DeptID                        137
PerfScoreID                   137
FromDiversityJobFairID        137
Salary                        137
Termd                         137
PositionID                    137
Position                      137
State                         137
Zip                           137
DOB                           137
Sex                           137
MaritalDesc                   137
CitizenDesc                   137
DateofHire                    137
DateofTermination              52
TermReason                    137
EmploymentStatus              137
Department                    137
ManagerName                   137
ManagerID                     133
RecruitmentSource             137
PerformanceScore              137
EngagementSurvey              137
EmpSatisfaction               137
SpecialProjectsCount          137
LastPerformanceReview_Date    137
DaysLateLast30                137
Absences                      137
DistanceFromHome              137
Age                           137
Attrition                     137
BusinessTravel                137
Education                     137
EducationField                137
JobSatisfaction               137
MonthlyIncome                 137
MonthlyRate                   137
NumCompaniesWorked            137
OverTime                      137
PercentSalaryHike             137
PerformanceRating             137
StandardHours                 137
StockOptionLevel              137
TotalWorkingYears             137
TrainingTimesLastYear         137
WorkLifeBalance               137
YearsAtCompany                137
YearsInCurrentRole            137
YearsSinceLastPromotion       137
YearsWithCurrManager          137
dtype: int64

In [10]:
df.loc[df["Gender"]=="Male"].count()

Employee_Name                 193
EmpID                         193
MarriedID                     193
MaritalStatusID               193
Gender                        194
EmpStatusID                   193
DeptID                        193
PerfScoreID                   193
FromDiversityJobFairID        193
Salary                        193
Termd                         193
PositionID                    193
Position                      193
State                         193
Zip                           193
DOB                           193
Sex                           193
MaritalDesc                   193
CitizenDesc                   193
DateofHire                    193
DateofTermination              64
TermReason                    193
EmploymentStatus              193
Department                    193
ManagerName                   193
ManagerID                     187
RecruitmentSource             193
PerformanceScore              193
EngagementSurvey              193
EmpSatisfaction               193
SpecialProjectsCount          193
LastPerformanceReview_Date    193
DaysLateLast30                193
Absences                      193
DistanceFromHome              193
Age                           194
Attrition                     194
BusinessTravel                194
Education                     194
EducationField                194
JobSatisfaction               194
MonthlyIncome                 194
MonthlyRate                   194
NumCompaniesWorked            194
OverTime                      194
PercentSalaryHike             194
PerformanceRating             194
StandardHours                 194
StockOptionLevel              194
TotalWorkingYears             194
TrainingTimesLastYear         194
WorkLifeBalance               194
YearsAtCompany                194
YearsInCurrentRole            194
YearsSinceLastPromotion       194
YearsWithCurrManager          194
dtype: int64

In [16]:
df.loc[df["ManagerName"]=="Michael Albert"]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,"Adinolfi, Wilson K",10026.0,0.0,0.0,Female,1.0,5.0,4.0,0.0,62506.0,...,3,80,0,8,0,1,6,4,0,5
14,"Barton, Nader",10066.0,0.0,2.0,Male,5.0,5.0,3.0,0.0,52505.0,...,3,80,0,6,4,3,4,2,0,3
23,"Blount, Dianna",10294.0,0.0,0.0,Male,1.0,5.0,2.0,0.0,66441.0,...,3,80,0,0,6,3,0,0,0,0
41,"Chace, Beatrice",10067.0,0.0,0.0,Female,1.0,5.0,3.0,0.0,61656.0,...,3,80,1,1,6,3,1,0,0,0
58,"Crimmings, Jean",10132.0,0.0,0.0,Male,2.0,5.0,3.0,0.0,56149.0,...,4,80,1,10,3,2,7,7,1,7
83,"Erilus, Angela",10299.0,0.0,3.0,Female,1.0,5.0,1.0,0.0,56847.0,...,3,80,3,17,3,3,13,11,1,9
84,"Estremera, Miguel",10280.0,0.0,0.0,Male,4.0,5.0,2.0,0.0,60340.0,...,3,80,0,5,2,3,5,2,1,3
102,"Gentry, Mildred",10159.0,1.0,1.0,Female,1.0,5.0,3.0,0.0,51337.0,...,3,80,0,1,5,3,1,0,1,0
122,"Handschiegl, Joanne",10125.0,1.0,1.0,Female,1.0,5.0,3.0,0.0,54828.0,...,3,80,3,7,2,3,5,4,4,3
129,"Homberger, Adrienne J",10195.0,1.0,1.0,Female,5.0,5.0,3.0,0.0,63478.0,...,3,80,0,16,2,2,15,11,5,11
143,"Johnson, George",10034.0,1.0,1.0,Female,5.0,5.0,4.0,0.0,46837.0,...,3,80,0,5,4,2,5,4,0,4
148,"Keatts, Kramer",10192.0,0.0,0.0,Male,1.0,5.0,3.0,0.0,50482.0,...,4,80,1,7,2,3,5,0,1,4
168,"Linares, Marilyn",10186.0,1.0,1.0,Female,5.0,5.0,3.0,0.0,52624.0,...,4,80,0,12,2,4,8,3,0,7
171,"Lundy, Susan",10096.0,0.0,4.0,Female,5.0,5.0,3.0,0.0,67237.0,...,4,80,0,1,5,4,0,0,0,0
186,"Medeiros, Jennifer",10068.0,0.0,0.0,Female,1.0,5.0,3.0,0.0,55688.0,...,3,80,1,21,2,3,20,8,9,9
195,"Moumanil, Maliki",10120.0,0.0,3.0,Male,1.0,5.0,3.0,0.0,74417.0,...,3,80,1,8,3,2,8,7,1,7
209,"Owad, Clinton",10281.0,0.0,0.0,Male,1.0,5.0,2.0,0.0,53060.0,...,3,80,1,17,3,3,4,2,0,3
229,"Rarrick, Quinn",10152.0,0.0,2.0,Male,5.0,5.0,3.0,0.0,61729.0,...,3,80,0,4,3,2,4,3,0,1
247,"Sadki, Nore",10260.0,0.0,0.0,Male,5.0,5.0,3.0,0.0,46428.0,...,3,80,1,13,3,3,11,9,5,9
256,"Sloan, Constance",10095.0,0.0,0.0,Female,5.0,5.0,3.0,0.0,63878.0,...,3,80,1,10,4,3,9,6,7,8
272,"Sullivan, Timothy",10117.0,1.0,1.0,Male,1.0,5.0,3.0,0.0,63025.0,...,4,80,1,5,3,2,5,2,0,4
294,"Von Massenbach, Anna",10183.0,0.0,0.0,Male,2.0,5.0,3.0,0.0,62068.0,...,3,80,3,4,3,2,4,2,1,2

In [18]:
df.loc[df["EmploymentStatus"]=="Active"]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,"Adinolfi, Wilson K",10026.0,0.0,0.0,Female,1.0,5.0,4.0,0.0,62506.0,...,3,80,0,8,0,1,6,4,0,5
3,"Alagbe,Trina",10088.0,1.0,1.0,Female,1.0,5.0,3.0,0.0,64991.0,...,3,80,0,8,3,3,8,7,3,0
5,"Anderson, Linda",10002.0,0.0,0.0,Male,1.0,5.0,4.0,0.0,57568.0,...,3,80,0,8,2,2,7,7,3,6
6,"Andreola, Colby",10194.0,0.0,0.0,Female,1.0,4.0,3.0,0.0,95660.0,...,4,80,3,12,3,2,1,0,0,0
7,"Athwal, Sam",10062.0,0.0,4.0,Male,1.0,5.0,3.0,0.0,59365.0,...,4,80,1,1,2,3,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,"Wolk, Hang T",10174.0,0.0,0.0,Female,1.0,5.0,3.0,0.0,60446.0,...,3,80,1,11,3,3,9,8,0,8
306,"Woodson, Jason",10135.0,0.0,0.0,Male,1.0,5.0,3.0,0.0,65893.0,...,3,80,1,13,3,2,13,8,4,8
308,"Zamora, Jennifer",10010.0,0.0,0.0,Male,1.0,3.0,4.0,0.0,220450.0,...,3,80,1,12,2,3,5,3,1,2
309,"Zhou, Julia",10043.0,0.0,0.0,Male,1.0,3.0,3.0,0.0,89292.0,...,3,80,1,6,4,3,5,2,0,3
310,"Zima, Colleen",10271.0,0.0,4.0,Male,1.0,5.0,3.0,0.0,45046.0,...,3,80,0,9,1,3,2,2,1,0

In [20]:
a=df.loc[df["EmploymentStatus"]=="Active"]
a.loc[a["MaritalDesc"]=="Married"]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
3,"Alagbe,Trina",10088.0,1.0,1.0,Female,1.0,5.0,3.0,0.0,64991.0,...,3,80,0,8,3,3,8,7,3,0
16,"Beak, Kimberly",10023.0,1.0,1.0,Male,2.0,5.0,4.0,0.0,70131.0,...,3,80,2,7,5,2,6,2,0,5
22,"Billis, Helen",10003.0,1.0,1.0,Female,1.0,5.0,4.0,0.0,62910.0,...,3,80,0,13,4,3,12,6,2,11
26,"Boutwell, Bonalyn",10081.0,1.0,1.0,Female,1.0,1.0,3.0,1.0,106367.0,...,4,80,0,10,5,3,10,2,6,7
29,"Brown, Mia",10238.0,1.0,1.0,Female,1.0,1.0,3.0,1.0,63000.0,...,3,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,"Sullivan, Kissy",10158.0,1.0,1.0,Male,1.0,5.0,3.0,0.0,63682.0,...,3,80,1,10,2,2,10,7,9,9
272,"Sullivan, Timothy",10117.0,1.0,1.0,Male,1.0,5.0,3.0,0.0,63025.0,...,4,80,1,5,3,2,5,2,0,4
275,"Tannen, Biff",10173.0,1.0,1.0,Female,1.0,3.0,3.0,0.0,90100.0,...,3,80,2,15,2,3,5,2,0,2
287,"Turpin, Jumil",10045.0,1.0,1.0,Male,1.0,3.0,3.0,0.0,76029.0,...,3,80,1,10,2,3,2,2,1,2
288,"Valentin,Jackie",10205.0,1.0,1.0,Male,1.0,6.0,3.0,0.0,57859.0,...,3,80,1,5,2,3,3,2,0,2

In [21]:
a=df.loc[df["EmploymentStatus"]=="Active"]
a.loc[a["Salary"]<60000]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
5,"Anderson, Linda",10002.0,0.0,0.0,Male,1.0,5.0,4.0,0.0,57568.0,...,3,80,0,8,2,2,7,7,3,6
7,"Athwal, Sam",10062.0,0.0,4.0,Male,1.0,5.0,3.0,0.0,59365.0,...,4,80,1,1,2,3,1,0,0,0
8,"Bachiochi, Linda",10114.0,0.0,0.0,Male,3.0,5.0,3.0,1.0,47837.0,...,4,80,0,10,2,3,9,7,1,8
9,"Bacong, Alejandro",10250.0,0.0,2.0,Male,1.0,3.0,3.0,0.0,50178.0,...,3,80,2,17,3,2,7,7,7,7
13,"Barone, Francesco A",10265.0,0.0,0.0,Male,1.0,5.0,3.0,0.0,58709.0,...,3,80,1,3,2,3,2,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,"Terry, Sharlene",10161.0,0.0,0.0,Female,1.0,6.0,3.0,0.0,58370.0,...,4,80,1,6,6,1,6,5,1,4
281,"Tippett, Jeanette",10123.0,0.0,2.0,Male,1.0,5.0,3.0,0.0,56339.0,...,4,80,0,20,3,3,20,16,11,6
288,"Valentin,Jackie",10205.0,1.0,1.0,Male,1.0,6.0,3.0,0.0,57859.0,...,3,80,1,5,2,3,3,2,0,2
291,"Villanueva, Noah",10253.0,0.0,0.0,Male,1.0,6.0,3.0,0.0,55875.0,...,3,80,0,10,2,3,8,0,7,7
310,"Zima, Colleen",10271.0,0.0,4.0,Male,1.0,5.0,3.0,0.0,45046.0,...,3,80,0,9,1,3,2,2,1,0

In [34]:
df.loc[(df["Position"]=="Production Technician II") & (df['EngagementSurvey'])].max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Employee_Name                           Woodson, Jason
EmpID                                          10300.0
MarriedID                                          1.0
MaritalStatusID                                    4.0
Gender                                            Male
EmpStatusID                                        5.0
DeptID                                             5.0
PerfScoreID                                        4.0
FromDiversityJobFairID                             1.0
Salary                                         74813.0
Termd                                              1.0
PositionID                                        20.0
Position                      Production Technician II
State                                               MA
Zip                                             2492.0
DOB                                           12/26/76
Sex                                                 M
MaritalDesc                                    Widowed
CitizenDesc                                 US Citizen
DateofHire                                   9/30/2013
TermReason                                     unhappy
EmploymentStatus                Voluntarily Terminated
Department                           Production
ManagerName                             Webster Butler
ManagerID                                         39.0
RecruitmentSource                                Other
PerformanceScore                                   PIP
EngagementSurvey                                   5.0
EmpSatisfaction                                    5.0
SpecialProjectsCount                               0.0
LastPerformanceReview_Date                    7/2/2013
DaysLateLast30                                     6.0
Absences                                          20.0
DistanceFromHome                                  99.0
Age                                                 59
Attrition                                          Yes
BusinessTravel                           Travel_Rarely
Education                                            5
EducationField                        Technical Degree
JobSatisfaction                                      4
MonthlyIncome                                    19537
MonthlyRate                                      26820
NumCompaniesWorked                                   9
OverTime                                           Yes
PercentSalaryHike                                   25
PerformanceRating                                    4
StandardHours                                       80
StockOptionLevel                                     3
TotalWorkingYears                                   32
TrainingTimesLastYear                                6
WorkLifeBalance                                      4
YearsAtCompany                                      24
YearsInCurrentRole                                  18
YearsSinceLastPromotion                             15
YearsWithCurrManager                                15
dtype: object

In [43]:
a=df["Salary"].max()
df.loc[df["Salary"]==a]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
150,"King, Janet",10089.0,1.0,1.0,Female,1.0,2.0,3.0,0.0,250000.0,...,3,80,1,20,2,3,20,7,2,13

In [44]:
a=df["Salary"].mean()
df.loc[df["Salary"]<a]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,"Adinolfi, Wilson K",10026.0,0.0,0.0,Female,1.0,5.0,4.0,0.0,62506.0,...,3,80,0,8,0,1,6,4,0,5
2,"Akinkuolie, Sarah",10196.0,1.0,1.0,Male,5.0,5.0,3.0,0.0,64955.0,...,3,80,0,7,3,3,0,0,0,0
3,"Alagbe,Trina",10088.0,1.0,1.0,Female,1.0,5.0,3.0,0.0,64991.0,...,3,80,0,8,3,3,8,7,3,0
4,"Anderson, Carol",10069.0,0.0,2.0,Male,5.0,5.0,3.0,0.0,50825.0,...,3,80,1,6,3,3,2,2,2,2
5,"Anderson, Linda",10002.0,0.0,0.0,Male,1.0,5.0,4.0,0.0,57568.0,...,3,80,0,8,2,2,7,7,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,"Williams, Jacquelyn",10264.0,0.0,0.0,Male,5.0,5.0,3.0,1.0,59728.0,...,3,80,1,10,3,2,8,7,7,7
305,"Wolk, Hang T",10174.0,0.0,0.0,Female,1.0,5.0,3.0,0.0,60446.0,...,3,80,1,11,3,3,9,8,0,8
306,"Woodson, Jason",10135.0,0.0,0.0,Male,1.0,5.0,3.0,0.0,65893.0,...,3,80,1,13,3,2,13,8,4,8
307,"Ybarra, Catherine",10301.0,0.0,0.0,Female,5.0,5.0,1.0,0.0,48513.0,...,3,80,1,19,2,3,10,8,0,1
310,"Zima, Colleen",10271.0,0.0,4.0,Male,1.0,5.0,3.0,0.0,45046.0,...,3,80,0,9,1,3,2,2,1,0