In [3]:
x=int(input("Enter the first number:"))
y=int(input("Enter the second number:"))
print(x+y)
print(x-y)
print(x*y)
print(x/y)

Enter the first number:10
Enter the second number:2
12
8
20
5.0

In [5]:
p=int(input("Enter the principle amount:"))
n=int(input("Enter the number of years:"))
r=int(input("Enter the interest rate:"))
i=p*n*r
print("Interest amount:",i)

Enter the principle amount:10000
Enter the number of years:2
Enter the interest rate:50
Interest amount: 1000000

In [7]:
print("Total deposit:",p+i)

Total deposit: 1010000

In [ ]:
b=int(input("Enter the Banking marks:"))
if b>50:
  print("Passed")
else:
  print("Failed")

In [5]:
s=int(input("Enter your salary:"))
if s>250000:
  print("You are taxable")
  t=s-250000
  if s<500000:
    print("Your tax amount is",t*10/100)
  else:
    print("Your tax amount is",t*20/100)
else:
  print("You are not taxable")

Enter your salary:600000
You are taxable
Your tax amount is 70000.0